[Desktop Entry]
Name=Migood Mail
Comment=Your Migood email
Exec=/usr/lib/migood-os/migood-open %u
Icon=/usr/share/migood-os/migood-button.svg
Type=Application
Categories=Network;Email;
MimeType=x-scheme-handler/mailto;
Keywords=mail;email;inbox;
